body { 
    margin:0;
    padding:0;
}

.JB_FWS * {
    margin:0;
    padding:0;
}

.JB_FWS {
    width:100%;
    height:360px;
    margin-top: -25px;
    background:#000;
    float:left;
    position: relative;
    width:100%;
    overflow: hidden;
    border-bottom: 4px solid #45970d;
}

.JB_Border {
    width:100%;
    height:15px;
    position: absolute;
}

.JB_Border.Top {
    top:0;
    left:0;
}
.JB_Border.Bottom {
    bottom:0;
    left:0;
}

.JB_Border.Top.ZigZag {
    background-image:url("../img/zigzag_border_top.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
}
.JB_Border.Bottom.ZigZag {
    background-image:url("../img/zigzag_border_bottom.png");
    background-repeat: repeat-x;
    background-position: 0px 100%;
}

.JB_Border.Top.Paper {
    background-image:url("../img/torn_paper_bg_top.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
}
.JB_Border.Bottom.Paper {
    background-image:url("../img/torn_paper_bg_bottom.png");
    background-repeat: repeat-x;
    background-position: 0px 100%;
}

.JB_Button_Left {
    padding:15px;
    width:21px;
    height:30px;
    background-image: url("../img/left_arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top:50%;
    left:0;
    cursor: pointer;
}

.JB_Button_Left_BG {
    padding:15px;
    width:21px;
    height:30px;
    background-color:#000;
    opacity:0.44;
    position: absolute;
    top:50%;
    left:0;
}

.JB_Button_Right {
    padding:15px;
    width:21px;
    height:30px;
    background-image: url("../img/right_arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top:50%;
    right:0;
    cursor: pointer;
}

.JB_Button_Right_BG {
    padding:15px;
    width:21px;
    height:30px;
    background-color:#000;
    opacity:0.44;
    position: absolute;
    top:50%;
    right:0;
}

.JB_Container {
        
    width:9999px;
    height:360px;
    margin:0 auto;
    position: absolute;
    overflow: hidden;
    left:0;
    
    cursor:hand;
    cursor:grab!important;
    cursor:-moz-grab;
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), pointer!important;
    cursor:-webkit-grab;
}

.JB_Slide {
    height:360px;
    float:left;
    position: relative;
}

.JB_Slide_Content {
    width:1000px;
    height:330px;
    margin: 0 auto;
    margin-top:15px;
    position: relative;
}

.JB_Pagination {
    width:100%;
    height:12px;
    position: absolute;
    bottom:3px;
    left:0;
}

.JB_Pages {
    display: table;
    margin: 0 auto;
}

.JB_Page {
    background-image:url("../img/pagination_button.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width:13px;
    height:12px;
    float:left;
    margin-left:5px;
    cursor: pointer;
}
.JB_Page:hover, .JB_Page.active  {
    background-position: -13px 0px;
}

.JB_ReadMore {
    float:left;
    color:#fff;
    margin-top:15px;
    position: relative;
}

.JB_ReadMore_BG {
    top:0;
    lef:0;
    position: absolute;
    background:#000;
    opacity:0.44;
    width:100%;
    height:100%;
}

.JB_ReadMore a {
    padding:10px 30px 10px 20px;
    position: relative;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    background-image:url("../img/button_arrow.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    font-size: 12px;
}



