<div id="sponsor_bar">
	<div class="content_wrapper">
		<div class="bar_logo">
			<img src="/img/sample_sponsor01.jpg" alt="">
			<p>Marriott</p>
		</div>

		<div class="bar_logo">
			<img src="/img/sample_sponsor02.jpg" alt="">
			<p>Dairy Queen</p>
		</div>

		<div class="bar_logo">
			<img src="/img/sample_sponsor03.jpg" alt="">
			<p>Menchies</p>
		</div>
		<div class="bar_logo">
			<img src="/img/sample_sponsor01.jpg" alt="">
			<p>Marriott</p>
		</div>

		<div class="bar_logo">
			<img src="/img/sample_sponsor02.jpg" alt="">
			<p>Dairy Queen</p>
		</div>

		<div class="bar_logo">
			<img src="/img/sample_sponsor03.jpg" alt="">
			<p>Menchies</p>
		</div>
		<div class="bar_logo">
			<img src="/img/sample_sponsor01.jpg" alt="">
			<p>Marriott</p>
		</div>

	</div>
</div>


<div id="footer">
	<div class="content_wrapper">
		<div class="left_three_fourths">
			<p class="foot_title">Find your way around</p>
			<div class="solid_divider"></div>
			<a href="#" class="foot_nav">Home</a>
			<a href="#" class="foot_nav">How It Works</a>
			<a href="#" class="foot_nav">Upcoming Events</a>
			<a href="#" class="foot_nav">Network With Us</a>
			<a href="#" class="foot_nav">Raise Money With Us</a>
			<a href="#" class="foot_nav">Become a Sponsor</a>
			<a class="jackbox foot_nav" data-group="text_link3"  data-title="Login" data-width="400" href="#login">Login or Create Account</a>
			<div class="clear"></div>
			<br/>
			<p class="copy">&copy; 2012 District Savings Group, LLC aka Funds for Causes, All Rights Reserved</p>
			<p class="copy">
				<a class="jackbox" data-group="foot_links" data-title="Terms and Conditions" data-width="400" href="#terms">Terms &amp; Conditions</a> |
				<a class="jackbox" data-group="foot_links" data-title="Privacy Policy" data-width="400" href="#privacy">Privacy Policy</a> |
				<a class="jackbox" data-group="foot_links" data-title="Disclaimer" data-width="400" href="#disclaimer">Disclaimer</a>
			</p>
		</div>

		<div class="right_one_fourth">
			<p class="foot_title">Get in touch with us!</p>
			<div class="solid_divider"></div>
			<form action="" method="">
				<div class="input_wrap relative">
					<img src="./img/contact_name.png" alt="" title="Enter Your Name">
					<input type="text" placeholder="Your Name" name="contact_name"/>
				</div>

				<div class="input_wrap relative">
					<img src="./img/contact_email.png" alt="" title="Enter Your Email">
					<input type="text" placeholder="Your Email" name="contact_email"/>
				</div>
				<div class="input_wrap">
					<textarea name="contact_message" id="contact_message" placeholder="Your Message"></textarea>
				</div>
				<input type="submit" class="green_btn" value="Send Message"/>
				<div class="clear"></div>
			</form>

		</div>

		<div class="clear"></div>

	</div>
</div>

</body>

</html>